body{
    margin: 0;
    padding: auto;
    font-family: "Open Sans", Arial, sans-serif;
}
.Forgot_form{
    display: flex;
    align-items: center;
    margin: 3% 25% 2%;
    border-radius: 2%;
    align-content: center;
    box-shadow: 2px 2px 7px #C2D7F2;
    color: black;
    text-shadow: 2px 2px 8px white;
}
.Forgot_Fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 45%;
    height: 70vh;
    gap: 13px;
    background-color: #ffffff; 
}
.Forgot_Field{
padding: 1rem;
width: 60%;
background-color: #DCDCDC;
border-radius: 5px;
border-style: hidden;
}
.Forgot-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 72.5vh;
    background-image:url("../assets/Final.jpg");
    background-size: cover;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;

}
