.add-to-cart-btn {
  width: fit-content;
  height: 2rem;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  background-color: #FF5800;
  border-style: hidden;
  color: white;
  font-size: 12px;
  cursor: pointer;
  border: none; 
  padding: 10px 20px;
  line-height: 10px;
}


.product_window{
  width:60%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  background-color:#C2D7F2;
  border-radius:2%;
  margin-top:5%;
  margin-bottom:5%;
  padding:5%;
}

.product_info{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  flex-direction: column;
  display:flex;
  background-color:#C2D7F2;
  border-radius:2%;
  margin-bottom:5%;
  gap:5%;
}

.product_title{
  font-size:3rem;
}

.product_description{
  font-size:1.5rem;
}


.product_info > * {
  margin-top: 3%;
}

.product_price {
  font-weight: bold;
}